@bg:#f9f9f9;
@tcolor:#707070;
@acolor:#008bfa;
@cdcolor:#a9b2bf;
@codebg:#333;
@bgimg:url('./assets/img/binding-dark.png');

.code {
    padding: 10px;
    color: #c8c6c8;
    line-height: 30px;
    background-color: #211f20;
    .code-var {
        color:#d94359 ;
    }
    .code-key {
        color:#008bfa ;
    }
    .code-attribute {
        color: #00a08a;
    }
    // 注释
    .code-notes {
        color: #797779;
        font-size: 14px;
    }
}
p {
    color: @tcolor;
}
a {
    color: #008bfa;
}
.keyword {
    color: #f2546c;
}


