.space-1 {
  padding-left: 40px;
}
.space-2 {
  padding-left: 80px;
}
.space-3 {
  padding-left: 120px;
}
.space-3 {
  padding-left: 160px;
}
.space-5 {
  padding-left: 200px;
}
.code {
  padding: 10px;
  color: #c8c6c8;
  line-height: 30px;
  background-color: #211f20;
  background-color: #333;
}
.code.jscode {
  color: #00a08a;
}
.code.jscode .code-symbol {
  color: #c8c6c8;
}
.code .code-var {
  color: #d94359;
}
.code .code-key {
  color: #008bfa;
}
.code .code-attribute {
  color: #00a08a;
}
.code .code-notes {
  color: #797779;
  font-size: 14px;
}
p {
  color: #707070;
}
a {
  color: #008bfa;
  word-wrap: break-word;
}
.keyword {
  color: #f2546c;
}
h2 {
  color: #333;
}
body .el-scrollbar__wrap {
  overflow-x: hidden;
}
